header {
    margin: 20px;

}

.container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    ;
}

.Home {
    background-color: lightpink;
}

.search {
    background-color: khaki;
    flex: 1;
    box-sizing: border-box;
    width: 400px;
    ;
}

.logout {
    background-color: lightpink;
}